<% provide :mode, "planner" %>
<% provide(:title, 'Planner page') %>
<h1><%=current_planner.name if current_planner.present?%>さんのマイページ</h1>
<div class="center">
<%= link_to "面談可能な日時の登録/確認", new_reservable_table_path, class: "btn btn-lg btn-primary" %>
</div>
<br>
<div class="center">
<h3>予約中の面談</h3>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="list-group">
      <% @reservable_tables.each do |reservable_table| %>
        <li class="list-group-item"><%= reservable_table.reservation.customer.name %></li>
        <li class="list-group-item"><%= reservable_table.date.strftime("%Y年 %m月 %d日") %>
        <%= reservable_table.time_table.time_range_text %></li>
        <br>
      <% end %>
    </ul>
  </div>
</div>
