<% provide(:title, 'Sign up') %>
<h1>FP情報登録ページ</h1>
<p class="text-center">ここにプランナーの名前、メールアドレス、パスワードを入力してしてください。</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @planner, url: planners_path, local: true do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "登録する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
